.container {
  padding-top: 36px;
}
.footerWrapper::before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(151, 210, 139, 1);
  margin-bottom: 24px;
}

.footer {
  padding-bottom: 24px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.logo {
  fill: rgba(23, 61, 51, 1);
}
.logoContainer {
  border: none;
  background-color: inherit;
}
.logoContainer:hover,
.logoContainer:focus {
  .logo {
    fill: rgba(151, 210, 139, 1);
  }
}
.arrowWrapper {
  margin-left: 12px;
  cursor: pointer;
}
.arrowButton {
  border: none;
  background-color: inherit;
  border-radius: 50%;
  padding: 0;
}

.social {
  display: inline-block;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
}
.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  text-align: center;
}

.contacts p {
  margin-top: 16px;
  color: rgba(23, 61, 51, 1);
  font-family: Fira Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

.contacts a {
  margin-top: 16px;
  color: rgba(23, 61, 51, 1);
  font-family: Fira Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding-top: 100px;
  }
  .footerWrapper::before {
    margin-bottom: 40px;
  }
  .footer {
    padding-bottom: 40px;
  }
  .wrapperLogoAndSocial {
    display: flex;
    position: relative;
  }
  .logoWrapper {
    display: block;
    width: 50%;
  }

  .arrowWrapper {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }

  .social {
    width: 50%;
    margin: 0;
    justify-content: flex-start;
  }
  .contacts {
    flex-direction: row;
    text-align: left;
    margin-top: 16px;
    align-items: center;
  }
  .contactsLeftWrapper {
    width: 50%;
  }
  .contactsRightWrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contacts p {
    margin-top: 0px;
  }
  .contacts a {
    margin: 0;
    text-align: left;
    padding: 0;
  }
}
.socialFB {
  &:hover,
  &:focus {
    .facebookIcon {
      fill: rgba(151, 210, 139, 1);
    }
    .facebookIconStroke {
      stroke: rgba(151, 210, 139, 1);
    }
  }
}

.socialInsta {
  &:hover,
  &:focus {
    .InstaIcon {
      stroke: rgba(151, 210, 139, 1);
    }
  }
}
.facebookIcon {
  fill: rgba(23, 61, 51, 1);
}

.facebookIconStroke {
  stroke: rgba(23, 61, 51, 1);
}
.InstaIcon {
  stroke: rgba(23, 61, 51, 1);
}

@media screen and (min-width: 1280px) {
  .container {
    padding-top: 120px;
  }
  .footerWrapper::before {
    margin-bottom: 40px;
  }
  .footer {
    padding-bottom: 40px;
  }
  .wrapperLogoAndSocial {
    display: flex;
    position: relative;
  }
  .logoWrapper {
    display: block;
    width: 50%;
  }
  .arrowWrapper {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  .social {
    width: 50%;
    margin: 0;
    justify-content: flex-start;
    padding-left: 100px;
    box-sizing: border-box;
  }
  .contacts {
    flex-direction: row;
    text-align: left;
    align-items: center;
  }
  .contactsLeftWrapper {
    width: 50%;
  }
  .contactsRightWrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    box-sizing: border-box;
  }
  .contacts p {
    margin-top: 0px;
  }
  .contacts a {
    margin: 0;
    text-align: left;
    padding: 0;
  }
}
