.container {
  padding-top: 36px;
}

.titleWrapper {
  text-align: center;
}
.title {
  color: rgba(23, 61, 51, 1);
  font-family: Oswald;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 24px 76px 24px 0;
}

.listPhones {
  margin-top: 8px;
}
.listPhones li:last-child {
  margin-top: 12px;
}
.listPhones a {
  color: rgba(23, 61, 51, 1);

  text-align: justify;
  font-family: Fira Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}
.setTitle {
  color: rgba(23, 61, 51, 1);
  font-family: Fira Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;

  margin-bottom: 8px;
}

.set p,
.set a {
  color: rgba(23, 61, 51, 1);
  font-family: Fira Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}
.line {
  display: flex;
  gap: 8px;
  cursor: pointer;
  margin-top: 8px;
  align-items: center;
}

.socialWrapper {
  display: inline-block;
  text-align: center;
  margin-top: 24px;
}
.social {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding-top: 100px;
  }
  .title {
    font-size: 36px;
    line-height: 36px;
  }
  .contactsWrapperWithoutTitle {
    display: flex;
    margin-top: 40px;
  }
  .list {
    width: 50%;
    padding-right: 72px;
    box-sizing: border-box;
    margin: 0;
  }
  .contactsFormWrapper {
    width: 50%;
  }
}

.icons {
  stroke: rgba(23, 61, 51, 1);
}
.wrapperCallIcons:hover,
.wrapperCallIcons:focus,
.wrapperCallIcons2:focus,
.wrapperCallIcons2:hover,
.wrapperMapIcon:hover,
.wrapperMapIcon:focus,
.wrapperSmsIcon:focus,
.wrapperSmsIcon:hover {
  .icons {
    stroke: rgba(151, 210, 139, 1);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-top: 120px;
  }
  .title {
    font-size: 48px;
    line-height: 48px;
  }
  .contactsWrapperWithoutTitle {
    display: flex;
    margin-top: 120px;
  }
  .list {
    width: 50%;
    margin: 0;
    gap: 32px;
  }
  .listPhones {
    margin-top: 16px;
  }
  .listPhones a {
    font-size: 24px;
    letter-spacing: -0.96px;
  }
  .line {
    margin-top: 16px;
  }

  .socialWrapper {
    margin-top: 32px;
  }
  .social {
    width: 50%;
    gap: 8px;
    margin-top: 16px;
  }
  .contactsFormWrapper {
    width: 50%;
  }
}
